.main-container{
    max-width: 1170px;
    margin: auto;
}

button{
    font-size: 10%;
}

.navbar-light{
    color: black;
    font-family: 'Merriweather', serif;
}

.navbar{
    padding-top: 1%;
    padding-bottom: 1%;
}

.text{
  color: white;
  text-align: center;
  font-family: 'Merriweather', serif;
}


.navbar-nav, .navbar-brand{
    margin-left: 10%;
    margin-right: 10%;
}


.img{
    background-image: url(images/attorneys.jpg);
    background-size: cover;
    height: 240px;
    width: 100%;
}

.color{
    padding-top: 50px;
    padding-bottom: 80px;
    background: #f0f4f7;
}

.h3{
    color: black;
    margin-top: 1%;
    margin-bottom: 1%;
    font-family: 'Merriweather', serif;
}

.mt70 {
    margin-top: 70px;
}

.address-area h5 {
    color: #218fe9;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: 'Merriweather', serif;
}

.address-area p {
    letter-spacing: 1px;
    font-size: 15px;
    color: #73777A;
    margin-bottom: 25px;
    font-family: 'Merriweather', serif;
}

.form-group {
    margin-bottom: 15px;
}

.contact-us .form-control {
    height: 50px;
    background: #fff;
    color: #404040;
    border-radius: 2px;
    border: 0;
}

.contact-us textarea.form-control {
    height: inherit;
}

.mt10 {
    margin-top: 10px;
}

.btn-send {
    font-size: 15px;
    letter-spacing: 1px;
    border: 1px solid #2196F3;
    background: #2196F3 !important;
    border-radius: 3px;
    color: #FBFDFA !important;
    text-decoration: none !important;
    margin-bottom: 5px;
    padding: 16px 24px;
    width: 100%;
    transition: 300ms ease-out !important;
}

footer{
    background-color: #1b1b1d;
}

.button{
    background-color: #1b97f3;
    color: white;
    border-radius: 100%;
    font-size: 100%;
    width: 50px;
    height: 30%;
    border: 6px solid #1b97f3;
}

hr.new4 {
    border: 2px solid #1b97f3;
    margin-right: 70%;
    color: #1b97f3;
  }

  hr.new2 {
    border: 2px solid #1b97f3;
    color: #1b97f3;
    margin-right: 83%;
  } 

  hr.new1 {
    border: 2px solid #1b97f3;
    color: #1b97f3;
    margin-right: 83%;
  } 
  

  .footer{
      margin-top: 10%;
      color: white;
      font-family: 'Merriweather', serif;
  }

  .footer1{
    margin-top: 10%;
    color: white;
    font-family: 'Merriweather', serif;
  }

  .footer2{
    margin-top: 10%;
    color: white;
    font-family: 'Merriweather', serif;
  }

  .contat{
      color: white;
      font-family: 'Merriweather', serif;
      margin-top: 14%;
  }

  .contact{
    color: white;
    font-family: 'Merriweather', serif;
    margin-top: 5%;
  }

  .num{
    text-decoration: none;
    color: lightskyblue;
  }

  .kk{
    margin-top: 11%;
  }

  .nav-link{
      color: white;
      font-family: 'Merriweather', serif;
      margin-left: -7%;
  }
.link{
    margin-top: 10%;
    font-family: 'Merriweather', serif;
}

.end{
    background-color: #151517;
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
}

.me{
    margin-left: 6%;
}

.m{
    float: right;
    margin-right: 6%;
}


